##### S1 ######
[[inputs.ping]]
  urls = ["10.20.4.231"]
  count = 1
  interface = "ens18"
  name_override = "sw-01"
  interval = "1s"

##### S2 ########
[[inputs.ping]]
  urls = ["10.20.4.233"]
  count = 1
  interface = "ens18"
  name_override = "sw-02"
  interval = "1s"

# Output format plugins
[[outputs.prometheus_client]]
  listen = ":9283"
  metric_version = 2
