##### S1 ######
{% for s1 in sede1 %}
[[inputs.ping]]
  urls = ["{{ s1.ips }}"]
  count = 1
  interface = "{{ interface }}"
  name_override = "{{ s1.switches }}"
  interval = "1s"

{% endfor %}
##### S2 ########
{% for s2 in sede2 %}
[[inputs.ping]]
  urls = ["{{ s2.ips }}"]
  count = 1
  interface = "{{ interface }}"
  name_override = "{{ s2.switches }}"
  interval = "1s"

{% endfor %}
# Output format plugins
[[outputs.prometheus_client]]
  listen = ":9283"
  metric_version = 2
